In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

url = "https://www.iplt20.com/auction"

# getting request
r = requests.get(url)
print(r)
soup = BeautifulSoup(r.text,"lxml")

<Response [200]>

In [4]:
table = soup.find("table",class_ = "ih-td-tab auction-tbl")
for i in table:
    print(i.text)

TEAM
FUNDS REMAINING
OVERSEAS PLAYERS
TOTAL PLAYERS










Chennai Super Kings


₹1,00,00,000
8
25







Delhi Capitals


₹9,90,00,000
8
25







Gujarat Titans


₹7,85,00,000
8
25







Kolkata Knight Riders


₹1,35,00,000
8
23







Lucknow Super Giants


₹95,00,000
8
25







Mumbai Indians


₹1,05,00,000
8
25







Punjab Kings


₹4,15,00,000
8
25







Rajasthan Royals


₹20,00,000
8
22







Royal Challengers Bengaluru


₹2,85,00,000
8
25







Sunrisers Hyderabad


₹3,20,00,000
8
25

In [5]:
#getting header

header = table.find_all("th")
for i in header:
    print(i.text)

TEAM
FUNDS REMAINING
OVERSEAS PLAYERS
TOTAL PLAYERS

In [11]:
#placing it into data frame

title =[]

header = table.find_all("th")
for i in header:
    name = i.text
    title.append(name)
    
print(title)

df = pd.DataFrame(columns = title)
print('\n')
print(df)

['TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS']


Empty DataFrame
Columns: [TEAM, FUNDS REMAINING, OVERSEAS PLAYERS , TOTAL PLAYERS]
Index: []

In [8]:
# finding all the table rows

rows = table.find_all("tr")

for i in rows[1:]:
    data = i.find_all("td")
    #print(data)
    row = [j.text for j in data]
    print(row)
    l = len(df)
    df.loc[l] = row
    
print(df)

['\n\n\n\n\nChennai Super Kings\n\n', '₹1,00,00,000', '8', '25']
['\n\n\n\n\nDelhi Capitals\n\n', '₹9,90,00,000', '8', '25']
['\n\n\n\n\nGujarat Titans\n\n', '₹7,85,00,000', '8', '25']
['\n\n\n\n\nKolkata Knight Riders\n\n', '₹1,35,00,000', '8', '23']
['\n\n\n\n\nLucknow Super Giants\n\n', '₹95,00,000', '8', '25']
['\n\n\n\n\nMumbai Indians\n\n', '₹1,05,00,000', '8', '25']
['\n\n\n\n\nPunjab Kings\n\n', '₹4,15,00,000', '8', '25']
['\n\n\n\n\nRajasthan Royals\n\n', '₹20,00,000', '8', '22']
['\n\n\n\n\nRoyal Challengers Bengaluru\n\n', '₹2,85,00,000', '8', '25']
['\n\n\n\n\nSunrisers Hyderabad\n\n', '₹3,20,00,000', '8', '25']
                                        TEAM FUNDS REMAINING  \
0          \n\n\n\n\nChennai Super Kings\n\n    ₹1,00,00,000
1               \n\n\n\n\nDelhi Capitals\n\n    ₹9,90,00,000
2               \n\n\n\n\nGujarat Titans\n\n    ₹7,85,00,000
3        \n\n\n\n\nKolkata Knight Riders\n\n    ₹1,35,00,000
4         \n\n\n\n\nLucknow Super Giants\n\n      ₹95,00,000
5               \n\n\n\n\nMumbai Indians\n\n    ₹1,05,00,000
6                 \n\n\n\n\nPunjab Kings\n\n    ₹4,15,00,000
7             \n\n\n\n\nRajasthan Royals\n\n      ₹20,00,000
8  \n\n\n\n\nRoyal Challengers Bengaluru\n\n    ₹2,85,00,000
9          \n\n\n\n\nSunrisers Hyderabad\n\n    ₹3,20,00,000

  OVERSEAS PLAYERS  TOTAL PLAYERS
0                 8            25
1                 8            25
2                 8            25
3                 8            23
4                 8            25
5                 8            25
6                 8            25
7                 8            22
8                 8            25
9                 8            25

In [10]:
#removing back shlashes using strip method., 

df['TEAM '] = df['TEAM '].str.strip('\n\n\n\n')
print(df)

KeyError: 'TEAM '

In [12]:
#removing back slashes

# finding all the table rows

rows = table.find_all("tr")

for i in rows[1:]:
    first_td = i.find_all("td")[0].find("div",class_="ih-pt-ic").text.strip()
    data = i.find_all("td")[1:]
    #print(data)
    row = [j.text for j in data]
    #print(row)
    row.insert(0,first_td)
    l = len(df)
    df.loc[l] = row
    
print(df)

                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹1,00,00,000                 8            25
1               Delhi Capitals    ₹9,90,00,000                 8            25
2               Gujarat Titans    ₹7,85,00,000                 8            25
3        Kolkata Knight Riders    ₹1,35,00,000                 8            23
4         Lucknow Super Giants      ₹95,00,000                 8            25
5               Mumbai Indians    ₹1,05,00,000                 8            25
6                 Punjab Kings    ₹4,15,00,000                 8            25
7             Rajasthan Royals      ₹20,00,000                 8            22
8  Royal Challengers Bengaluru    ₹2,85,00,000                 8            25
9          Sunrisers Hyderabad    ₹3,20,00,000                 8            25